body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
}
.grid-container
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.grid-1
{
    background-color: #4a4a4a;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}
.grid-2
{
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}
.grid-3
{
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}
.grid-4
{
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}
.grid-5
{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}
.grid-6
{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}